a {
  text-decoration: none;
}

body {
  margin: 0;
}

.centered {
  margin: 0px auto;
  width: fit-content;
}

.dropDownButton {
  border-radius: 0.25em;
  background-color: #353535;
  border: none;
  color: #8A897C;
  cursor: pointer;
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 10px;
  transition: all 0.35s ease;
  text-align: center;
}

.dropDownButtonContainer {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

input[type="search"]::-webkit-search-clear-button {
  appearance: none;
}

.loginButton {
  align-self: center;
  background-color: #252525;
  border-style: none;
  border-radius: 1rem;
  color: white;
  font-size: 25px;
  height: fit-content;
  margin: 30px auto;
  width: fit-content;
}

@media (max-width: 500px) {
  .loginButton {
    visibility: hidden;
  }
}

.login-card {
  background-color: #565656;
  box-shadow: 0px 0px 8px 2px #8a8a8a;
  border-radius: 1.5rem;
  height: 500px;
  margin: 50px auto;
  width: 500px;
}

.login-card-label {
  margin: 5px auto;
  width: fit-content;
}

.mainContainerSocials {
  display: flex;
  justify-content: center;
}

@media (max-width: 500px) {
  .showOnSmallScreen {
    display: flex;
  }

  .hideOnSmallScreen {
    display: none;
  }
}

.navBarContainer {
  display: block;
}

.navBarTitleContainer {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  width: 100%;
}

.navBarLinks {
  border-radius: 0.25em;
  color: #8A897C;
  cursor: pointer;
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 10px;
  transition: all 0.35s ease;
  text-align: center;
}

.navBarLinks:hover {
  background-color: rgb(42, 41, 41);
  color: #BDBBB0;
}

@media (max-width: 500px) {
  .navBarLinks {
    margin-bottom: 0px;
  }
}

.navBarLinkActive {
  background-color: rgb(42, 41, 41);
  color: #BDBBB0;
  font-weight: bold;
}

.navBarLinksContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navBarLinksContainerSmall {
  margin-left: 30px;
  margin-right: 30px;
}

.pageHeading {
  margin: 30px auto;
}

@media (max-width: 500px) {
  .pageHeading {
    display: none;
  }
}

.pageTitle {
  display: flex;
  font-size: 100px;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 10px;
}

@media (max-width: 500px) {
  .pageTitle {
    font-size: 50px;
  }
}

.preventClick {
  pointer-events: none;
}

:root {
  background-color: #353535;
  color: rgba(255, 255, 255, 0.87);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.searchBarContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin: 30px auto;
  width: 40%;
  min-width: 400px;
  max-width: 1000px;
}

.searchBarInput {
  background-color: #252525;
  border-color: whitesmoke;
  border-style: solid;
  color: white;
  font-size: 1.2rem;
  height: 40px;
  padding-left: 10px;
  width: 100%;
}

.searchBarInput:focus {
  outline: none;
}

.searchBarSubmitButton {
  background-color: black;
  border-color: whitesmoke;
  border-style: solid;
  color: white;
  font-size: 1.2rem;
  height: 40px;
  min-width: min-content;
}

.searchBarSubmitButton:hover {
  background-color: #353535;
}

@media (max-width: 500px) {
  .searchBarContainer {
    width: 80%;
    min-width: 200px;
  }
}




.socialCardContainer {
  align-items: center;
  border-style: solid;
  border-radius: 2.5em;
  display: flex;
  flex-direction: column;
  height: 400px;
  transition: all 0.3s ease;
  width: 400px;
  margin-top: 60px;
  margin-left: 5px;
  margin-right: 5px;
}

.socialCardContainer:hover {
  box-shadow: 0px 8px 8px 0px rgba(255, 255, 255, 0.2);
  transform: scaleX(1.02) scaleY(1.02);
}

@media (max-width: 500px) {
  .socialCardContainer {
    height: 200px;
    width: 200px;
    margin-top: 20px;
  }
}

.socialCardGridContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1200px
}

.socialCardHeading {
  font-size: 30px;
}

@media (max-width: 500px) {
  .socialCardHeading {
    font-size: 15px;
  }
}

.socialCardImg {
  width: 200px;
  height: 200px;
}

@media (max-width: 500px) {
  .socialCardImg {
    height: 100px;
    width: 100px;
  }
}

.socialCardLink {
  color: #00A6FB;
  font-size: 30px;
  margin-top: 20px;
}

.socialCardLink:hover {
  color: #1bd3fd;
}

@media (max-width: 500px) {
  .socialCardLink {
    margin-top: 10px;
    font-size: 20px
  }
}

.ticTacToeButtons {
  font-size: 200px;
}

.ticTacToeContainer {
  align-items: center;
  border-style: solid;
  display: flex;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  justify-content: center;
  width: 900px;
}

.ticTacToeGame {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px 300px;
}

@media (max-width: 900px) {
  .ticTacToeButtons {
    font-size: 66px;
  }

  .ticTacToeContainer {
    height: 300px;
    width: 300px;
  }

  .ticTacToeGame {
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
  }
}

.ticTacToeResetButton {
  background-color: #353535;
  border: solid;
  border-width: 2px;
  border-radius: 0.25em;
  color: white;
  display: block;
  font-size: 40px;
  margin: 0 auto;
  margin-bottom: 10px;

}

.ticTacToeResetButton:hover {
  background-color: rgba(80, 80, 80, 1);
}

.ticTacToeWinnerText {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}